* {
    background: #b6b6b6;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
}

/* calculator main */

#main {
    margin: 0 auto;
    margin-top: 2rem;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    background: #404040;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

/* header */

header {
    background-color: #000;
    border-radius: 10px 10px 0 0;
}

#display {
    height: calc(105px - 40px);
    background-color: inherit;
    border-radius: 10px 10px 0 0;
    padding: 20px;
}

#result {
    background-color: #303030;
    border-radius: 5px;
    padding-right: 16px;
    font-size: 3rem;
    line-height: 4rem;
    text-align: right;
    color: white;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

/* buttons container */

#panel {
    padding: 20px;
    border-radius: 0 0 10px 10px;
    background: #404040;
    display: flex;
    flex-basis: 100%;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 1.25rem;
}

/* buttons style */

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 2.5rem;
    height: 75px;
}

/* white buttons */

#big-buttons {
    background-color: inherit;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1.25rem;
}

.mainButton {
    background-color: white;
    color: #000;
    border: none;
    border-radius: 5px;
    width: 170px;
}

/* control buttons */

#control-buttons {
    background-color: inherit;
    width: 360px;
    height: 360px;
    display: flex;
    flex-flow: row wrap;
    gap: 1.25rem;
    align-items: stretch;
    justify-content: space-between;
}

.action, .control {
    border: none;
    border-radius: 5px;
    width: 75px;
}

.action {
    background-color: #f54000;
    color: white;
}

.control {
    background-color: black;
    color: white;

}




